.categories-list{
  margin-top: -40px;
  @media screen and (max-width:780px){
    display: none;
    visibility: hidden;
  }
}

.hrclst{

  @media screen and (max-width:780px) {
    display: none;
    visibility: hidden;
    
  }
}

.fcards{
  margin-left: 50vh;

  @media screen and (max-width:600px) {
    margin-left: -3vh;
  }
}
.tcards{
  margin-left: 54vh;
}
.recentpost{
  margin-left: 35vh;
  @media  screen and (max-width:600px) {
    margin-left: -2vh;
    
  }
}

.featured-posts h1{
  margin-left: 2vh;
  @media  screen and (max-width:600px) {
    margin-left: -28vh;
    font-weight: bold;
  }
  @media screen and (max-width:780px) {
    margin-left: -28vh;
    font-weight: bold;
    
  }
  @media  screen and (max-width:380px) {
    margin-left: -37vh;
  }
}

h1{
 font-weight: bolder;
}

  


@media screen and (max-width:600px) {
  .posttitle{
    width: 250%;
    font-size: 1.5rem;
  }
  .fdesc{
    width: 270%;
    font-size: 1rem;
  }
  .frdbtn{
    margin-top: 20px;
  }
  .rposttop{
    margin-left: 60px;
    font-size: 20px;
    font-weight: bold;
  }
  .tcards{
    margin-left: -12px;
    height: 54vh;
    width: 42vh;
  }
}

@media screen and (max-width:400px) {
 
.posttitle{
  width: 230%;
}
}

