.blog-details{
  overflow: hidden;
  overflow-y: hidden;
}

.blog-description p{
  line-height: 36px;
}

.blog-header-image{
  width: 120%;

}
@media  screen and (max-width:600px) {
  .blog-header-image{
    visibility: hidden;
    display: none;
  }
}